/* line 17, ../sass/main.scss */
html, input, select, button {
  font-family: 'Handlee', cursive;
}

/* line 21, ../sass/main.scss */
html {
  background-image: url("../media/background/blackboard.jpeg");
}

/* line 25, ../sass/main.scss */
h1 {
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 50px;
}

/* line 29, ../sass/main.scss */
#players_panel {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  color: white;
  padding: 5px;
}

/* line 38, ../sass/main.scss */
button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 42, ../sass/main.scss */
input {
  border: none;
  background: transparent;
  border-bottom: solid #f5f5f5 2px;
  color: white;
  font-size: 17px;
}

/* line 50, ../sass/main.scss */
input[type="number"] {
  border: solid 1px grey;
  border-radius: 4px;
}

/* line 55, ../sass/main.scss */
#exportButton, #downloadButton {
  margin-top: 5px;
  background-color: white;
  color: green;
  border-color: white;
}

/* line 62, ../sass/main.scss */
.deleteImg {
  padding-top: 10px;
}

/* line 66, ../sass/main.scss */
#socialLinks {
  margin-left: 46%;
  margin-bottom: 35px;
}

/* line 71, ../sass/main.scss */
#webDescription {
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 20px;
}

/* line 75, ../sass/main.scss */
#bottomButtons {
  margin-top: 20px;
}

/* line 79, ../sass/main.scss */
.playersPanelTitle {
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
}
