@import url(http://fonts.googleapis.com/css?family=Handlee);
/* line 17, ../sass/main.scss */
html, input, select, button {
  font-family: 'Handlee', cursive;
}

/* line 21, ../sass/main.scss */
html {
  background-image: url("../media/background/blackboard.jpeg");
}

/* line 25, ../sass/main.scss */
h1 {
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 50px;
}

/* line 29, ../sass/main.scss */
#players_panel {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  color: white;
}

/* line 37, ../sass/main.scss */
input, button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 41, ../sass/main.scss */
#socialLinks {
  margin-left: 46%;
  margin-bottom: 35px;
}

/* line 46, ../sass/main.scss */
#webDescription {
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 20px;
}
