//$import url(http://fonts.googleapis.com/css?family=Handlee);

@mixin rounded-corners($radius: 5px) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

html, input, select, button{
    font-family: 'Handlee', cursive;
}

html{
    background-image: url("../media/background/blackboard.jpeg");
}

h1{
    text-align: center;
    font-size: 50px;
    color: white;
}

#players_panel{
    @include rounded-corners;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    color: white;
}

input, button {
    @include rounded-corners;
}

#underConstructionImg{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 185px;
    height: 130px;
}