<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Como formamos?</title>

    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
        <link rel="stylesheet/css" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/partials/_base.css">

    <script type="text/javascript" src="vendors/jquery-1.7.js"></script>
    <script type="text/javascript" src="vendors/underscore.js"></script>
    <script type="text/javascript" src="vendors/backbone.js"></script>
    <script type="text/javascript" src="vendors/raphael.js"></script>

    <script type="text/javascript" src="vendors/rgbcolor.js"></script>
    <script type="text/javascript" src="vendors/canvg.js"></script>
    <!--<script type="text/javascript" src="vendors/modernizr.js"></script>-->
    <script type="text/javascript" src="js/raphaelImgs/pitch.js"></script>
    <script type="text/javascript" src="js/raphaelImgs/options.js"></script>
    <script type="text/javascript" src="js/Utils.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>

<body>
    <h1>Como formamos?</h1>

    <div id="allContainer" class="container">

        <div id="editorContainer" class="span-24">

            <div id="canvas_container" class="span-15"></div>

            <div id="players_panel" class="span-8 last">

                <div id="top" class="span-8">
                    <label id="pitchTypeLabel" for="pitchType" class="span-7">
                        Equipo
                        <select id="pitchType" name="Equipo">
                            <option value="5">5 jugadores</option>
                            <option value="7">7 jugadores</option>
                            <option value="9">9 jugadores</option>
                            <option value="11">11 jugadores</option>
                        </select>
                    </label>

                    <button id="newPlayerButton" type="button">Nuevo Jugador</button>
                </div>

                <div id="playersCreated" class="span-8">
                    <script type="text/template" id="player-template">
                        <input data-modelid="<%= playerId%>" id="name<%= playerId%>" value="<%= name%>"
                                     class="span-4">
                        <input data-modelid="<%= playerId%>" id="number<%= playerId%>" value="<%= number%>"
                                       class="span-2" type="number">
                        <img data-modelid="<%= playerId%>" class="deleteImg" src="media/imgs/delete.png" alt="Delete" height="16" width="16"/>
                    </script>
                </div>

                <button id="exportButton" type="button">Guardar como imagen</button>
            </div>
        </div>

        <div id="song" class="prepend-17 span-7 last">
            <audio id="songs" controls>
                <source src="media/audio/woohu.mp3" type="audio/mp3"/>
                <source src="media/audio/Chumbawamba.mp3" type="audio/mp3"/>
                Your browser does not support the audio tag.
            </audio>
        </div>

        <div class="span-24">
            <img src="media/imgs/under-construction.gif" alt="Under Construction" id="underConstructionImg">
        </div>

    </div>
</body>
</html>